<?xml version="1.0" encoding="utf-8" standalone="no"?>
<installer-gui-script minSpecVersion="2">
    <title>Brightness Control</title>
    <pkg-ref id="com.blogspot.thegreyblog.EMCLoginItem"/>
    <pkg-ref id="com.blogspot.thegreyblog.Brightness-Control"/>
    <options customize="never" require-scripts="false"/>
    <readme file="README.html"/>
    <license file="LICENSE.html"/>
    <volume-check>
        <allowed-os-versions>
            <os-version min="10.9"/>
        </allowed-os-versions>
    </volume-check>
    <choices-outline>
        <line choice="default">
            <line choice="com.blogspot.thegreyblog.EMCLoginItem"/>
            <line choice="com.blogspot.thegreyblog.Brightness-Control"/>
        </line>
    </choices-outline>
    <choice id="default"/>
    <choice id="com.blogspot.thegreyblog.EMCLoginItem" visible="false">
        <pkg-ref id="com.blogspot.thegreyblog.EMCLoginItem"/>
    </choice>
    <pkg-ref id="com.blogspot.thegreyblog.EMCLoginItem" version="1.0.0" onConclusion="none">EMCLoginItemComponent.pkg</pkg-ref>
    <choice id="com.blogspot.thegreyblog.Brightness-Control" visible="false">
        <pkg-ref id="com.blogspot.thegreyblog.Brightness-Control"/>
    </choice>
    <pkg-ref id="com.blogspot.thegreyblog.Brightness-Control" version="1.0.0" onConclusion="none">BrightnessControlComponent.pkg</pkg-ref>
</installer-gui-script>
